In [5]:
%load_ext autoreload
%autoreload 2

# load environment variables
import os
from dotenv import load_dotenv, find_dotenv
dotenv_path = find_dotenv()
load_dotenv(dotenv_path)

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sqlalchemy import create_engine

from src.functions.io import ModuleFileReader
from src import queries
scripts = ModuleFileReader(queries)

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [2]:
engine = create_engine(os.environ.get("DATABASE_URL"))

In [4]:
pd.read_sql_query(scripts.read("q1.sql"), engine)

,id,title,released,running_time,budget,box_office
0,1,Insidious: The Last Key,2018-01-05,103.0,10000000.0,167700000.0
1,2,The Strange Ones,2017-12-07,81.0,NaN,NaN
2,3,Stratton,2017-09-01,95.0,NaN,NaN
3,4,Sweet Country,2017-09-06,113.0,NaN,NaN
4,5,The Commuter,2018-01-12,105.0,40000000.0,200900000.0
5,6,Proud Mary,2018-01-12,88.0,NaN,21800000.0
6,7,Acts of Violence,2018-01-12,88.0,NaN,NaN
7,8,Freak Show,2018-01-12,91.0,2000000.0,NaN
8,9,Humor Me,2018-01-12,93.0,NaN,NaN
9,10,Vazante,2017-02-10,116.0,NaN,NaN
10,11,Mary and The Witch's Flower,2017-07-08,103.0,NaN,41000000.0
11,12,12 Strong,2018-01-19,129.0,35000000.0,70800000.0
12,13,Den of Thieves,2018-01-19,140.0,30000000.0,80500000.0
13,14,Forever My Girl,2018-01-19,104.0,3500000.0,16399999.0
14,15,Maze Runner: The Death Cure,2018-01-26,142.0,62000000.0,288300000.0
15,16,The Insult,2017-08-31,112.0,NaN,1600000.0
16,17,Please stand by,2018-01-26,93.0,NaN,NaN
17,18,Winchester,2018-02-02,99.0,3500000.0,41300000.0
18,19,A Fantastic Woman,2018-02-02,104.0,NaN,3700000.0
19,20,Armed,2018-09-14,118.0,NaN,NaN
20,21,The Cloverfield Paradox,2018-02-04,102.0,45000000.0,NaN
21,22,The 15:17 to Paris,2018-02-09,94.0,30000000.0,57100000.0
22,23,Fifty Shades Freed,2018-02-09,NaN,55000000.0,371000000.0
23,24,Peter Rabbit,2018-02-09,95.0,50000000.0,351200000.0
24,26,Kri,2018-02-09,138.0,NaN,NaN
25,27,Permission,2018-02-09,96.0,NaN,NaN
26,28,Monster Family,2017-08-24,96.0,NaN,26400000.0
27,29,Golden Exits,2018-02-09,94.0,NaN,NaN
28,30,Black Panther,2018-02-16,134.0,NaN,NaN
29,31,Early Man,2018-02-16,87.0,50000000.0,54600000.0
...,...,...,...,...,...,...
2271,2331,For Colored Girls,2010-11-05,133.0,21000000.0,38000000.0
2272,2332,Megamind,2010-11-05,96.0,130000000.0,321900000.0
2273,2333,Transformers,2007-07-03,143.0,150000000.0,709700000.0
2274,2334,127 Hours,2010-11-05,93.0,18000000.0,60700000.0
2275,2335,Four Lions,2010-01-23,97.0,NaN,NaN
2276,2336,Guy and Madeline on a Park Bench,2010-11-05,84.0,NaN,NaN
2277,2337,Unstoppable,2010-11-12,98.0,NaN,167800000.0
2278,2338,The Next Three Days,2010-11-09,133.0,30000000.0,67400000.0
2279,2339,Made in Dagenham,2010-09-11,113.0,NaN,12300000.0
2280,2340,Faster,2010-11-24,98.0,24000000.0,35600000.0
2281,2341,Love & Other Drugs,2010-11-26,112.0,30000000.0,103000000.0
2282,2342,Tangled,2010-11-24,100.0,260000000.0,591800000.0
2283,2343,Break Ke Baad,2010-11-26,NaN,2500000.0,NaN
2284,2344,The Nutcracker in 3D,2010-11-24,110.0,90000000.0,20500000.0
2285,2345,I Love You Phillip Morris,2010-12-03,93.0,13000000.0,20700000.0
2286,2346,The Warrior's Way,2010-12-03,100.0,42000000.0,NaN
2287,2347,Night Catches Us,2010-12-03,NaN,NaN,NaN
2288,2348,The Tourist,2010-12-10,103.0,100000000.0,278300000.0
2289,2349,Frankie & Alice,2010-05-17,NaN,NaN,NaN
2290,2350,The Tempest,2010-12-10,110.0,20000000.0,NaN
2291,2351,The Fighter,2010-12-10,116.0,25000000.0,129199999.0
2292,2352,Tron: Legacy,2010-12-17,125.0,170000000.0,400000000.0
2293,2353,Yogi Bear,2010-12-17,80.0,80000000.0,201600000.0
2294,2354,Casino Jack,2010-09-16,108.0,12500000.0,1100000.0
2295,2355,Rabbit Hole,2010-09-13,91.0,3000000.0,NaN
2296,2356,True Grit,2010-12-22,110.0,38000000.0,252300000.0
2297,2357,Somewhere,2010-12-22,98.0,7000000.0,13900000.0
2298,2358,The Illusionist,2010-06-16,79.0,17000000.0,5600000.0
2299,2359,Blue Valentine,2010-12-29,112.0,1000000.0,16600000.0
2300,2360,Biutiful,2010-05-17,147.0,35000000.0,24700000.0