In [1]:
%load_ext autoreload
%autoreload 2

# load environment variables
import os
from dotenv import load_dotenv, find_dotenv
dotenv_path = find_dotenv()
load_dotenv(dotenv_path)

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sqlalchemy import create_engine

from src.functions.io import ModuleFileReader
from src import queries
scripts = ModuleFileReader(queries)

In [2]:
engine = create_engine(os.environ.get("DATABASE_URL"))

## Ratings over time

In [3]:
films = pd.read_sql_query(scripts.read("film_view1.sql"), engine)

In [14]:
films = films.set_index(pd.DatetimeIndex(films.released))
films = films[films.index.year > 2009]

In [15]:
rated_dummies = pd.get_dummies(films.rated)
films_rated = pd.concat([films, rated_dummies], axis=1)

In [31]:
films_rated.resample('Y').count()
rating_cols = films_rated.columns[14:]
yearly_ratings = films_rated.resample('Y').count()[rating_cols.values]

In [32]:
yearly_ratings

,APPROVED,G,N/A,NC-17,NOT RATED,PASSED,PG,PG-13,R,TV-14,TV-MA,TV-PG,TV-Y,TV-Y7,UNRATED
released,,,,,,,,,,,,,,,
2010-12-31,173,173,173,173,173,173,173,173,173,173,173,173,173,173,173
2011-12-31,209,209,209,209,209,209,209,209,209,209,209,209,209,209,209
2012-12-31,130,130,130,130,130,130,130,130,130,130,130,130,130,130,130
2013-12-31,253,253,253,253,253,253,253,253,253,253,253,253,253,253,253
2014-12-31,275,275,275,275,275,275,275,275,275,275,275,275,275,275,275
2015-12-31,336,336,336,336,336,336,336,336,336,336,336,336,336,336,336
2016-12-31,242,242,242,242,242,242,242,242,242,242,242,242,242,242,242
2017-12-31,269,269,269,269,269,269,269,269,269,269,269,269,269,269,269
2018-12-31,232,232,232,232,232,232,232,232,232,232,232,232,232,232,232